@charset "utf-8";

*{
    list-style: none;
    margin: 0 auto;
    border:0;
    color:#333333;
    font-family: "맑은고딕";
}

html{
    background-color: #ffffff;
    width: 1000px;
    /* height: 100%; */
}

a{
    text-decoration: none;
}

header{
    float:left;
    height: 650px;
    /* position:absolute; */
}

body{
    float:right;
    height: 100%;
}
.wrap{
    float:left;
    width: 200px;
    height: 650px;
    background-color: grey;
}

.logo{
    float:left;
    width: 200px;
    height: 150px;
    margin-top: 30px;
}

.menu{
    float:left;;
    margin-top: -40px;
    margin-left: -30px;
    /* display: block; */
}

.navi>li{
    background-color: green;
    color:white;
    margin-top: -15px;
    text-align: center;
    font-weight: bold;
    /* display: block; */
}

.navi>li>a{
    float:left;
    width: 180px;
    height: 30px;
    background-color: black;
    color:#ffffff;
}

.navi>li>a:hover{
    color:black;
    background-color: #ffffff;
}
.submenu{
    float:left;
    text-align: left;
    right:-180px;
    position: relative;
    width: 120px;
    height: 120px;
    background-color: black;
    
  

    display: none;
}

.submenu>li{
    float:left;
}

.submenu>li>a{
    float:left;
    width: 180px;
    height: 30px;;
    display: block;
    color:white;
    border:0;
    margin:0;
}

.submenu>li>a:hover{
    background-color: #ffffff;
    color:black;
}
.imgslide{
    background-color: green;
    float:left;
    width: 800px;
    height: 350px;
}

.contents{
    background-color: blue;
    float:left;
    width: 800px;
    height: 200px;
}

.notice{
    background-color: aqua;
    float:left;
    width: 300px;
    height: 200px;
}

.gallery{
    background-color: pink;
    float: left;
    width: 300px;
    height: 200px;
}

.shortcut{
    background-color: blueviolet;
    float:right;
    width: 200px;
    height: 200px;
    margin-top: -21px;
}

footer{
    background-color: black;
    float:left;
    width: 800px;
    height: 100px;
}

.btlogo{
    background-color: #ffffff;
    float:left;
    width: 200px;
    height: 100px;
}

.wrap_bt{
    float:left;
    background-color: pink;
    width: 600px;
    height: 100px;
}
.btmenu{
    background-color: darkgrey;
    float:left;
    width: 600px;
    height: 50px;
}
.copyright{
    background-color: goldenrod;
    float:right;
    width: 600px;
    height: 50px;

}